/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Aggiungi altre importazioni CSS se necessario */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #384e79;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  font-size: 14px;
  color: white;
}

.App-header button {
  padding-right: 20px;
  font-weight: bold;
}

.App-header button:hover {
  color:#84a6eb;
}

.App-scrollup {
  background-color: #78839a;
  position: fixed;
  top: 90%;
  right: 1%;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  color:white;
}

.App-scrollup:hover {
  background-color: #384e79;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}
.App-about {
  background-color: #0b2f76;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: rgb(199, 195, 195);
}
.App-portfolio {
  background-color: #0c9bbf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: rgb(199, 195, 195);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
